/* Global */
* {
  box-sizing: border-box;
}
:root {
  --barlow: Barlow;
  --inBlack: InBlack;
  --inBold: InBold;
  --inExtraLight: InExtraLight;
  --inRegular: InRegular;
  --inSemiBold: InSemiBold;
  --playBlack: PlayBlack;
  --playBold: PlayBold;
  --playRegular: PlayRegular;
}

/* Header */
.header {
}
.header__top {
  padding: 50px 100px 0 95px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 94px;
}
.header__top-logo {
  font-family: var(--barlow);
  font-size: 42px;
  color: #2f2e2e;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 107px;
  margin-left: 375px;
  margin-bottom: 2px;
}
.header__nav-link {
  text-decoration: none;
  font-family: var(--inRegular);
  font-size: 20px;
  text-align: center;
  color: #2f2e2e;
  cursor: pointer;
}
.header__nav-link:hover {
  font-family: var(--inBold);
}
.header__top-search img {
  width: 25px;
  height: 22px;
  margin-left: 50px;
}
.header__bottom {
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 97px;
  padding-bottom: 95px;
}
.header__content {
  background: linear-gradient(91deg, rgba(244, 246, 245, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
  max-width: 691px;
  padding: 138px 0 136px 100px;
}
.header__content-title {
  font-family: var(--playBlack);
  font-size: 51px;
  color: #2f2e2e;
  max-width: 425px;
  margin-bottom: 8px;
  line-height: 134%;
}
.header__content-txt {
  font-family: var(--inExtraLight);
  font-size: 32px;
  color: #2f2e2e;
  max-width: 436px;
  line-height: 136%;
}
.burger__open {
  cursor: pointer;
  display: none;
}
.burger__open-line {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}
.burger__open-line:last-child {
  margin-bottom: 0;
}
.burger__menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #fff;
  padding-top: 50px;
  padding-left: 50px;
  border-right: 1px solid #000;
}
.burger__menu-inner {
  display: flex;
  justify-content: space-between;
}
.burger__menu-open {
  left: 0;
  animation: burgerOpenX 0.5s linear;
}
.burger__menu-close {
  left: -320px;
  animation: burgerCloseX 0.5s linear;
}
.burger__nav-link {
  margin-bottom: 25px;
  cursor: pointer;
  font-family: var(--inRegular);
  font-size: 20px;
  color: #2f2e2e;
}
.burger__close {
  cursor: pointer;
  margin-right: 30px;
}
.burger__close-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 16px;
}
.burger__close-line:first-child {
  transform-origin: top left;
  transform: rotate(40deg);
}
.burger__close-line:last-child {
  margin-bottom: 0;
  transform-origin: bottom left;
  transform: rotate(320deg);
}
.burger__end-line {
  width: 230px;
  height: 1px;
  background-color: black;
  margin-top: 20px;
}
@keyframes burgerOpenX {
  0% {
    left: -320px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: 0;
  }
}
@keyframes burgerCloseX {
  0% {
    left: 0px;
  }
  50% {
    left: -160px;
  }
  100% {
    left: -320px;
  }
}

@media screen and (max-width: 1350px) {
  .header__nav {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1150px) {
  .header__nav {
    margin-left: 0px;
    gap: 50px;
  }
  .header__top-search img {
    margin-left: 0px;
  }
}
@media screen and (max-width: 950px) {
  .header__top {
    padding: 50px 30px 0 30px;
  }
}
@media screen and (max-width: 800px) {
  .header__top {
    align-items: center;
  }
  .header__nav {
    display: none;
  }
  .header__top-search {
    display: none;
  }
  .header__top-search_burger {
    display: block;
    margin-top: 110px;
  }
  .burger__open {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header__top {
    margin-bottom: 30px;
    padding-top: 30px;
  }
  .header__content {
    padding: 138px 0 136px 30px;
  }
  .header__content-title {
    font-size: 34px;
    max-width: 300px;
  }
  .header__content-txt {
    font-size: 24px;
    max-width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .header__content-title {
    font-size: 28px;
    max-width: 250px;
  }
  .header__content-txt {
    font-size: 20px;
    max-width: 250px;
  }
  .header__top-logo {
    font-size: 30px;
  }
  .header__bottom {
    padding-top: 0px;
  }
}

/* Services */
.services {
  background: rgba(37, 77, 77, 0.2);
  padding: 25px 177px 65px 176px;
}
.services-title {
  font-family: var(--playBlack);
  font-size: 51px;
  text-align: center;
  color: #2f2e2e;
  margin-bottom: 53px;
}
.services__body {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.services__item {
}
.services__item-img {
  width: 103px;
  height: 103px;
  margin-bottom: 2px;
}
.services__item-name {
  font-family: var(--playBlack);
  font-size: 27px;
  color: #2f2e2e;
  margin-bottom: 13px;
}
.services__item-txt {
  font-family: var(--playRegular);
  font-size: 16px;
  color: #2f2e2e;
  max-width: 158px;
  line-height: 133%;
}

@media screen and (max-width: 1000px) {
  .services {
    padding: 25px 30px 65px 30px;
  }
}
@media screen and (max-width: 600px) {
  .services__body {
    flex-direction: column;
  }
  .services-title {
    font-size: 36px;
  }
  .services__item-txt {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

/* About */
.about {
  padding-top: 76px;
  padding-bottom: 20px;
  padding-left: 36px;
}
.about__container {
  max-width: 1276px;
  margin: 0 auto;
}
.about__body {
  display: flex;
}
.about-img {
  width: 735px;
}
.about__content {
  padding-left: 85px;
  padding-top: 74px;
}
.about__content-title {
  font-family: var(--playBlack);
  font-size: 51px;
  color: #2f2e2e;
  margin-bottom: 30px;
  padding-left: 2px;
}
.about__content-txt {
  font-family: var(--playRegular);
  font-size: 31px;
  color: #2f2e2e;
  margin-bottom: 33px;
  line-height: 162%;
}
.about__content-link {
  font-family: var(--inSemiBold);
  font-size: 24px;
  color: #2f2e2e;
  cursor: pointer;
}

@media screen and (max-width: 1330px) {
  .about-img {
    width: 500px;
  }
  .about__content {
    padding-right: 30px;
  }
}
@media screen and (max-width: 1050px) {
  .about {
    padding-left: 0px;
    padding-top: 40px;
  }
  .about__body {
    flex-direction: column-reverse;
    max-width: 735px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about__content {
    text-align: center;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .about-img {
    width: 100%;
  }
}
@media screen and (max-width: 656px) {
  .about__content-title {
    font-size: 36px;
    padding-left: 0px;
  }
  .about__content-txt {
    font-size: 24px;
  }
  .about__content-link {
    font-size: 20px;
  }
}
@media screen and (max-width: 510px) {
  .about {
    padding-top: 20px;
  }
  .about__content-title {
    font-size: 30px;
  }
  .about__content-txt {
    font-size: 18px;
    line-height: 162%;
  }
  .about__content-link {
    font-size: 16px;
  }
}

/* Projects */
.projects {
  padding-top: 84px;
  padding-bottom: 30px;
}
.projects__container {
  max-width: 1240px;
  margin: 0 auto;
}
.projects-title {
  font-family: var(--playBlack);
  font-size: 51px;
  color: #2f2e2e;
  margin-bottom: 79px;
}
.projects__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 104px;
  row-gap: 86px;
}
.projects__item {
  margin: 0 auto;
}
.projects__item-img {
  width: 344px;
  margin-bottom: 11px;
}
.projects__item-name {
  font-family: var(--playRegular);
  font-size: 18px;
  color: #2f2e2e;
  max-width: 178px;
  margin: 0 auto;
  text-align: center;
  line-height: 130%;
}

@media screen and (max-width: 1300px) {
  .projects__body {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .projects-title {
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .projects__body {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 370px) {
  .projects-title {
    font-size: 36px;
  }
  .projects__item-img {
    width: 280px;
  }
}